body{
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	font-family: "Arial";
}
nav#myNav{
	position: fixed;
	top: 0;
	left: -250px;
	height: 100%;
	width: 250px;
	background-color: #222;
	color: #fff;
	z-index: 99;
	transition: .5s;
}
#openNav{
	position: fixed;
	z-index: -1;
	top: 25px;
	left: 25px;
	background-color: #222;
	color: #fff;
	padding: 10px 15px;
}
#closeNav{
	padding: 10px 15px;
	background-color: #3498db;
	text-align: center;
	color: #fff;
}
nav#myNav ul{
	margin: 0px;
	padding: 0px;
}
nav#myNav ul li{
	list-style: none;
}
nav#myNav ul li a{
	display: block;
	padding: 10px 20px;
	background-color: #111;
	border-bottom: 1px solid white;
	color: #fff;
	text-decoration: none;
}
